<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet library="css" name="bootstrap.min.css" />
    <title>Création d'un nouveau produit</title>
</h:head>
<h:body>
    <h:form id="createStudentForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4">
                <h2>Crée un produit</h2>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h:outputLabel for="libelle-id" class="control-label col-sm-4">Référence:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="libelle-id"  value="#{serviceProduit.produit.reference}" class="form-control" validatorMessage="Référence est obligatoire !">
                    <f:validateRequired />
                </h:inputText>
            </div>
        </div>
        <div class="form-group">
            <h:outputLabel for="marque-id" class="control-label col-sm-4">Déscription:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="marque-id" value="#{serviceProduit.produit.descriptif}" class="form-control" validatorMessage="Description esr obligatoire">
                    <f:validateRequired/>
                </h:inputText>
            </div>
        </div>
        <div class="form-group">
            <h:outputLabel for="prix-id" class="control-label col-sm-4">Prix unitaire:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText type="number" id="prix-id" value="#{serviceProduit.produit.prixUnitaire}" class="form-control" validatorMessage="Prix unitairz est obligatoire">
                    <f:validateRequired/>
                </h:inputText>
            </div>
        </div>
        <!--div class="form-group">
            <h:outputLabel for="categorie-id" class="control-label col-sm-4">Categorie:</h:outputLabel>
            <div class="col-sm-4">
                <p:selectOneMenu id="categorie-id" value="#{serviceProduit.produit.categorieByIdCategorie}"   converter="#{ConverterCategorie}">
                    <f:selectItems value="#{serviceProduit.listeCategories()}" itemLabel="#{serviceProduit.produit.categorieByIdCategorie.libelle}" var="serviceProduit.produit.categorieByIdCategorie" itemValue="#{serviceProduit.produit.categorieByIdCategorie}"/>
                </p:selectOneMenu>
            </div>

        </div-->
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="col-sm-2">
                    <h:commandButton value="Save"  action="#{serviceProduit.ajouterProduit()}" class="btn btn-success btnWidth" />
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <h:link outcome="listeProduits" value="......" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </h:form>
</h:body>
</html>