<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <html>
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <title>Creation Compte</title>
    </h:head>

    <h:body>
        <p:spacer height="20"/>

        <p:separator/>

        <h3 style="text-align: left">Créer un compte utilisateur</h3>


        <h:form>
            <p:panel id="panel" header="Nouveau Utilisateur">

                <p:messages id="msgs"/>

                <h:panelGrid columns="3" cellpadding="5">
                    <p:outputLabel for="pseudo" value="Pseudo:"/>
                    <p:inputText id="pseudo" value="#{serviceUtilisateur.utilisateur.pseudo}" required="true" label="Pseudo">
                        <f:validateLength minimum="2"/>
                    </p:inputText>
                    <p:message for="pseudo" display="icon"/>

                    <p:outputLabel for="nom" value="Nom:"/>
                    <p:inputText id="nom" value="#{serviceUtilisateur.utilisateur.nom}" required="true" label="Nom">
                        <f:validateLength minimum="2"/>
                        <p:ajax update="msgNom" event="keyup"/>
                    </p:inputText>
                    <p:message for="nom" id="msgNom" display="icon"/>

                    <p:outputLabel for="prenom" value="Prenom:"/>
                    <p:inputText id="prenom" value="#{serviceUtilisateur.utilisateur.prenom}" required="true" label="Prenom">
                        <f:validateLength minimum="2"/>
                    </p:inputText>
                    <p:message for="prenom" display="icon"/>

                    <p:outputLabel for="mail" value="E-mail:"/>
                    <p:inputText id="mail" value="#{serviceUtilisateur.utilisateur.mail}" required="true" label="Mail">
                        <f:validateLength minimum="2"/>
                    </p:inputText>
                    <p:message for="mail" display="icon"/>


                    <h:outputText value="Mot de Passe:"/>
                    <p:password id="motdepasse" value="#{serviceUtilisateur.utilisateur.motdepasse}" feedback="true"/>

                    <p:messages id="messages" showDetail="true" autoUpdate="true"/>

                </h:panelGrid>
                <p:separator/>
                <h:panelGrid columns="3" cellpadding="30">
                    <p:commandButton value="Enregistrer" update="panel" action="#{serviceUtilisateur.ajouterUtilisateur}"
                                     icon="pi pi-check" class="btn btn-success btnWidth"/>
                    <p:commandButton value="Retour" update="panel" class="btn btn-primary" action="{serviceUtilisateur.ajouterUtilisateur()}"
                                     icon="pi pi-check"/>
                </h:panelGrid>
                <p:spacer height="20"/>
            </p:panel>
        </h:form>
    </h:body>
    </html>
</f:view>
</html>