<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <html>
    <h:head>
        <title>Utilisateur</title>
        <!--link rel="stylesheet" type="text/css" href="resources/css/styleType.css" /-->
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>

    </h:head>
    <h:body>
        <p:spacer height="10"/>
        <h3 style="text-align: left">Gestion des Utilisateurs</h3>
        <p:separator/>
        <p:spacer height="10"/>

        <h:form id="form">

            <p:dataTable var="u" value="#{serviceUtilisateur.listeUtilisateurs()}"
                         class="table table-striped table-hover table-bordered tableUpdated">

                <p:column headerText="Pseudo">
                    <h:outputText value="#{u.pseudo}"/>
                </p:column>

                <p:column headerText="Nom">
                    <h:outputText value="#{u.nom}"/>
                </p:column>

                <p:column headerText="Prénom">
                    <h:outputText value="#{u.prenom}"/>
                </p:column>

                <p:column headerText="E-mail">
                    <h:outputText value="#{u.mail}"/>
                </p:column>

                <p:column headerText="Mot de Passe">
                    <h:outputText value="#{u.motdepasse}"/>
                </p:column>

                <p:column headerText="">
                    <h:commandButton value="Modifier" class="btn btn-primary"/>
                </p:column>

                <p:column headerText="">
                    <h:commandButton value="Supprimer" class="btn btn-danger"/>
                </p:column>
            </p:dataTable>

            <p:spacer height="10"/>

            <center>
                <h:commandButton action="creerUtilisateur.xhtml?faces-redirect=true" value="Créer un nouveau utilisateur"
                                 class="btn btn-success btnSpace"/>
            </center>
        </h:form>

    </h:body>
    </html>
</f:view>
</html>