<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <html>
    <h:head>
        <title>Produit</title>
        <!--link rel="stylesheet" type="text/css" href="resources/css/styleType.css" /-->
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>

    </h:head>
    <h:body>
        <p:spacer height="10"/>
        <h3 style="text-align: left">Gestion des Designations</h3>
        <p:separator/>
        <p:spacer height="10"/>

        <h:form id="form">

            <p:dataTable var="p" value="#{serviceProduit.listeProduits()}"
                         class="table table-striped table-hover table-bordered tableUpdated">

                <p:column headerText="Référence">
                    <h:outputText value="#{p.reference}"/>
                </p:column>

                <p:column headerText="Description">
                    <h:outputText value="#{p.descriptif}"/>
                </p:column>

                <p:column headerText="Prix Unitaire">
                    <h:outputText value="#{p.prixUnitaire}"/>
                </p:column>

                <p:column headerText="TVA">
                    <h:outputText value="#{p.tvaById.taux}"/>
                </p:column>

                <p:column headerText="Categorie">
                    <h:outputText value="#{p.categorieByIdCategorie.libelle}"/>
                </p:column>

                <p:column headerText="">
                    <h:commandButton value="Modifier" class="btn btn-primary"/>
                </p:column>

                <p:column headerText="">
                    <h:commandButton value="Supprimer" class="btn btn-danger"/>
                </p:column>
            </p:dataTable>

            <p:spacer height="10"/>

            <center>
                <h:commandButton action="creerProduit.xhtml?faces-redirect=true" value="Créer un nouveau produit"
                                 class="btn btn-success btnSpace"/>
            </center>
        </h:form>

    </h:body>
    </html>
</f:view>
</html>